* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #3e3e3e;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.button {
	display: block;
	padding: 15px;
	border: none;
	border-radius: 12px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	background-color: #ff6d6d;
	transition: 0.5s;
	cursor: pointer;
}
.button:hover {
	box-shadow: 0 0 12px 1px #fff;
}
.container {
	position: relative;
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
	z-index: 2;
}
.main {
	background-image: url(img/main-bg.jpg);
	background-size: cover;
	background-position: center top;
}
.header-wrap {
	background: rgba(55, 26, 255, 0.7);
}
.header-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 12px 10px;
	color: #ffffff;
}
.header-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header-logo__img {
	width: 80px;
	padding-right: 15px;
}
.header-logo__title {
	font-family: 'Lobster', cursive;
}
.header-tel {
	position: relative;
	display: block;
	width: 300px;
	padding-left: 30px;
	font-size: 20px;
	font-weight: 700;
}
.header-tel::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(img/phone.svg);
	background-repeat: no-repeat;
	transform: translateY(-50%);
}
.header-btn {
	margin-right: 25px;
}
.tour-section {
	padding: 40px 0 60px;
}
.title-section {
	margin-bottom: 50px;
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}
.tour-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}
.tour {
	width: 275px;
	margin: 0 15px 20px 0;
}
.tour:last-child {
	margin-right: 0;
}
.tour-link {
	display: block;
	padding: 40px 0 30px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0 22px 2px rgba(0, 0, 0, 0.5);
	transition: 0.6s;
}
.tour-link:hover {
	transform: scale(1.05);
}
.tour__img {
	width: 60%;
	height: 150px;
	margin: 0 auto 25px;
	border-radius: 8px;
}
.tour__img_first {
	background: url(img/alaska-mountains.jpg) no-repeat;
	background-size: cover;
}
.tour__img_second {
	background: url(img/kaliforniia-beach.jpg) no-repeat;
	background-size: cover;
}
.tour__img_third {
	background: url(img/niagara-falls.jpg) no-repeat;
	background-size: cover;
}
.tour__text {
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}
.contacts-link {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}
.info-section {
	padding: 70px 0; 
	background-color: #fdd2d2; 
}
.info-title {
	color: #3e3e3e;
}
.table-wrap {
	width: 75%;
	margin: 0 auto;
}
.info-table {
	width: 100%;
	border-collapse: collapse;
}
.table-data {
	padding: 12px;
	border: 2px solid #ff6d6d;
}
.table-item {
	padding-left: 5px;
	list-style-position: inside;
	color: #ff6d6d;
}
.table-item__text {
	color: #3e3e3e;
}
.table-data_center {
	text-align: center;
}
.pagination-block {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}
.pagination-btn {
	margin-left: 5px;
	padding: 4px 8px;
	border: none;
	border-radius: 2px;
	color: #ffffff;
	background: linear-gradient(to top, #fb9797, #ee4c4c);
	cursor: pointer;
	transition: 0.4s;
}
.pagination-btn:hover {
	box-shadow: 0 0 5px 0.5px #ee4c4c;
}
.contacts-section {
	position: relative;
	padding: 60px 0; 
	background: #fdd2d2 url(img/contacts-bg.jpg) center top no-repeat;
	background-size: cover; 
}
.contacts-section::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}
.contacts-title {
	color: #3e3e3e;
}
.contacts-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 75%;
	margin: 0 auto;
}
.form {
	width: 50%;
}
.form-field {
	display: block;
	margin-bottom: 20px;
	padding: 8px;
	border: 1.5px solid #ff6d6d;
	border-radius: 5px;
	font: 15px 'Roboto', Arial, Helvetica, sans-serif;
	color: #3e3e3e;
}
.form__text {
	width: 180px;
}
.form__comment {
	width: 90%;
	min-height: 220px;
	resize: none;
}
.form__text::placeholder,
.form__comment::placeholder {
	font: 14px 'Roboto', Arial, Helvetica, sans-serif;
	color: #3f3f3f;
}
.form__text::-moz-placeholder,
.form__comment::-moz-placeholder {
	font: 14px 'Roboto', Arial, Helvetica, sans-serif;
	color: #3f3f3f;
}
.contacts {
	width: 40%;
	margin: 60px 0 0 20px;
}
.form__btn {
	width: 170px;
	padding: 12px;
}
.contacts__item {
	position: relative;
	list-style: none;
	margin-bottom: 30px;
	padding-left: 30px;
	font-weight: 700;
}
.contacts__item::before {
	position: absolute;
	content: "";
	top: 50%;
	left: -10px;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
}
.contacts__item_tel::before {
	background: url(img/tel.svg) no-repeat;
}
.contacts__item_email::before {
	background: url(img/envelope.svg) no-repeat;
}
.contacts__item_skype::before {
	background: url(img/skype.svg) no-repeat;
}
.footer {
	padding: 12px;
	color: #ffffff;
	background-color: #222222;
}
.footer-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.footer-img-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
}
.footer__img {
	width: 50px;
	margin-right: 15px;
}
.footer__text {
	font-size: 14px;
	text-align: center;
}
.footer-tel {
	font-size: 14px;
	text-align: right;
}
.footer-tel::before {
	left: 145px;
	width: 15px;
	height: 15px;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 10;
}
.modal {
	position: fixed;
	top: 15%;
	left: 50%;
	width: 320px;
	padding: 15px;
	border-radius: 8px;
	color: #3e3e3e;
	background-color: #fdd2d2;
	transform: translateX(-50%); 
}
.modal__text {
	margin-bottom: 15px;
	line-height: 28px;
	text-align: center;
}
.modal__btn {
	width: 120px;
	margin: 0 auto 10px;
	padding: 10px;
	text-transform: uppercase;
}
.modal__btn:hover {
	box-shadow: 0 0 2px 0px #ce3a3a;
}

@media (max-width: 900px) {
	.main {
		background-position: center center;
	}
	.header-tel {
		width: 225px;
	}
	.header-btn {
		margin-right: 0;
	}
	.tour {
		width: 250px;
	}
	.tour__img {
		width: 70%;
	}
	.footer-tel::before {
		left: 70px;
	}
}
@media (max-width: 767px) {
	.header-tel {
		display: none;
	}
	.tour-section,
	.info-section,
	.contacts-section {
		padding: 20px 0;
	}
	.title-section {
		margin-bottom: 20px;
	}
	.tour-wrap {
		margin-bottom: 10px;
	}
	.table-wrap {
		width: 100%;
	}
	.form {
		width: 100%;
	}
	.contacts {
		display: none;
	}
	.footer-img-wrap {
		width: 50%;
	}
}
@media (max-width: 500px) {
	.header-main {
		padding: 10px 0;
	}
	.header-logo__img {
		padding-right: 7px;
		width: 60px;
	}
	.header-logo__title {
		font-size: 25px;
	}
	.header-btn {
		width: 140px;
		padding: 12px 7px;
		font-size: 13px;
	}
	.tour {
		margin-right: 0;
	}
	.info-table {
		font-size: 14px;
	}
	.table-data {
		padding: 5px;
	}
	.contacts-wrap {
		width: 100%;
	}
	.footer__text {
		width: 100%;
	}
	.footer-img-wrap {
		display: none;
	}
}
@media (max-width: 375px) {
	.header-logo__title {
		margin-left: 10px;
		font-size: 28px;
	}
	.header-btn {
		display: none;
	}
	.info-table {
		font-size: 12px;
	}
	.table-data {
		padding: 2px;
	}
	.form__comment {
		width: 100%;
	}
	.modal {
		width: 280px;
	}
}


