* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', Arial, sans-serif;
	background-color: #edb8ff8a;
}
ul li {
	list-style: none;
}
.weather-widget {
	width: 320px;
	margin: 20px auto;
	padding: 10px 20px;
	border: 2px solid #5959f9;
	border-radius: 8px;
}
.city-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.city {
	font-size: 32px;
	font-weight: 700;
	text-align: left;
	color: #9c269c;
}
.icon-weather {
	width: 60px;
	height: 60px;
}
.weather-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.others-item {
	position: relative;
	width: 120px;
	font-size: 14px;
	color: #2e2e2e;
	text-transform: lowercase;
}
.others-item > span {
	position: absolute;
	top: 50%;
	right: 0;
	color: #9c269c;
	transform: translateY(-50%);
}
.weather-temp {
	color: #5959f9;
	font-size: 48px;
	font-weight: 700;
}
.weather-temp_grade {
	font-size: 28px;
}
hr {
	border: 0.5px solid #9c269c;
}
.sun-wrap {
	display: flex;
	justify-content: space-between;
	width: 75%;
	padding-left: 35px;
	margin: 10px auto 0;
	color: #2e2e2e;
	font-size: 14px;
	line-height: 28px;
}
.sun-wrap > span {
	position: relative;
}
.sun-rise::before,
.sun-set::before {
	position: absolute;
	content: "";
	top: 50%;
	left: -35px;
	width: 20px;
	height: 20px;
	background: url(img/sun.svg) no-repeat;
	transform: translateY(-50%);
}
.sun-set::before {
	background: url(img/moon.svg) no-repeat;
}