*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	outline: none;
}
html,
body {
	color: #3f3f3f;
	font: 400 15px/26px Raleway, Arial, Helvetica, sans-serif;
	background-color: #e0fafd;
}
img {
	max-width: 100%;
}
ul li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}
.button {
	display: block;
	border: 0;
	cursor: pointer;
}
.container {
	position: relative;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}
.header {
	padding: 10px 0 15px;
}
.hamburger,
.hamburger-open,
.hamburger-close {
	position: relative;
	display: none;
	z-index: -1 !important;
}
.header-logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 300px;
	margin-bottom: 15px;
}
.header-logo__title {
	align-self: flex-end;
	margin-left: 10px;
	color: #136882;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
}
.beta_red {
	color: #fd4e4e;
	font-size: 10px;
}
.header-logo__img {
	width: 120px;
}
.header-text {
	text-align: center;
}
.sea-color {
	color: #136882;
	font-weight: 700;
}
.sidebar__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 20px 0 20px 30px;
	font-size: 0;
}
.sidebar__item {
	position: relative;
	margin-right: 40px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
}
.sidebar__item:last-child {
	margin-right: 0;
}
.sidebar__item_selected {
	position: relative;
	cursor: default;
}
.sidebar__item_selected::after,
.sidebar__item:hover::after {
	position: absolute;
	content: '';
	top: 28px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #136882;
	border-radius: 10px;
}
.main-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 0 15px;
}
.content {
	width: 78%;
	order: 1;
	padding: 20px;
	border: 2px solid #2b2b2b;
	border-radius: 4px;
	background-color: #eae9e966;
}
.tutorial {
	width: 20%;
	order: 2;
	padding: 10px 15px;
	border: 2px solid #2b2b2b;
	border-radius: 4px;
	background-color: #eae9e966;
}
.tutorial__title {
	margin-bottom: 5px;
	font-size: 18px;
}
.tutorial__item {
	margin-bottom: 8px;
	line-height: 20px;
}
.tutorial__link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
	transition: 0.4s;
}
.tutorial__link:hover {
	color: #136882;
}
.main-title {
	margin-bottom: 15px;
	font-size: 22px;
	text-align: center;
}
.main-subtitle,
.task-answer {
	margin: 30px 0;
	font-size: 18px;
}
.query {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0;
}
.sql-code {
	color: #136882;
	font-weight: 600;
	line-height: 1.4;
	word-spacing: 5px;
}
.check-code {
	display: block;
	margin-top: 7px;
	font-weight: 400;
}
.check-code_blue {
	color: #136882;
	font-weight: 600;
}
.check-code_gen {
	font-family: Arial, Helvetica, sans-serif;
}
.sql-code-comment {
	display: block;
	width: 400px;
	margin: 5px 0 10px;
	color: #3f3f3f;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	font-style: oblique;
}
.sea-color_comment {
	color: #136882;
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 600;
}
.sql-code-item {
	position: relative;
	width: 400px;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: oblique;
	line-height: 1.4;
}
.sql-code-item:before {
	position: absolute;
    content: '';
    top: 6px;
    left: -13px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #136882;  
   }
.sql-code-comment_normal {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	font-style: normal;
}
.show-answer_first,
.show-answer_second,
.show-answer_third,
.show-answer_forth,
.show-answer_fifth,
.show-answer_sixth {
	display: none;
}
.show-answer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.task-answer {
	position: relative;
	width: 95px;
	transition: 0.4s;
	cursor: pointer;
}
.task-answer:hover {
	color: #136882;
}
.arrow-down {
	position: absolute;
	content: "";
	top: 9.5px;
	right: 1px;
	width: 10px;
	height: 10px;
	border: 5px solid transparent; 
	border-top: 8px solid #3f3f3f;
	transition: 0.4s;
}
.task-answer:hover .arrow-down {
	border-top-color: #136882;
}
.arrow-up {
	transform: rotate(-180deg);
	transform-origin: 50% 35%;
}
.table_main {
	width: 400px;
	margin-bottom: 10px;
	border-collapse: collapse;
	border: 1px solid #2b2b2b;
}
td,th {
	padding: 2px 8px;
	border: 1px solid #2b2b2b;
	text-align: center;
}
th {
	font-weight: 700;
}
tr:nth-child(1) {
	background-color: #acacac;
}
.table-small {
	padding: 2px 4px;
	font-size: 14px;
	line-height: 1.6;
}
.table_inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 30px;
}
.table-tasks {
	width: 500px;
}
.table-tasks__name {
	margin-top: -20px;
	font-weight: 700;
}
.table_inner .table-tasks__name {
	margin-top: 0;
}
.column_bold {
	border: 2px solid #ef2727a8;
}
.btnup {
	position: -webkit-sticky;
	position: sticky;
	z-index: 5;
	top: 85%;
	left: 1px;
	display: block;
	width: 50px;
	height: 50px;
	margin: 300px 10px 0 auto;
	border: 0;
	border-radius: 50%;
	background-color: rgba(120,120,120,0.1);
	cursor: pointer;
	transition: 0.4s;
}
.btnup::before {
	position: absolute;
	content: "";
	top: 16px;
	left: 19px;
	width: 10px;
	height: 10px;
	transform: rotate(-90deg);
	background: url(img/btn_arrow_right.svg) no-repeat;
}
.btnup:hover::before {
	background: url(img/btn_arrow_right_hover.svg) no-repeat;
}
.btnup-smdev {
	display: none;
}
.footer {
	padding: 10px;
	color: #fff;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	background-color: #2b2b2b;
}
.footer__text_email {
	color: #a2b7d3;
	letter-spacing: 0.4px;
	font-style: italic;
}
.advertise {
	position: fixed;
	top: 10px;
	right: -300px;
	width: 240px;
	padding: 20px 5px;
	border: 1px solid #d9541e;
	border-radius: 10px;
	font-size: 14px;
	text-align: center;
	background-color: #ffe8e1;
}
.show-advertising {
	animation: openAdvertise 15s;
}
.advertise__text_orange {
	font: 600 14px/26px Raleway, Arial, Helvetica, sans-serif;
	transition: 0.4s;
}
.advertise__text_orange:hover {
	color: #d9541e;
}
.advertise__btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 15px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.advertise__btn::before {
	position: absolute;
	content: "";
	top: 2px;
	right: 8px;
	width: 2px;
	height: 12px;
	border-radius: 5px;
	background: #c6c6c6;
	transform: rotate(45deg);
	transition: 0.4s;
}
.advertise__btn::after {
	position: absolute;
	content: "";
	top: 2px;
	right: 8px;
	width: 2px;
	height: 12px;
	border-radius: 5px;
	background: #c6c6c6;
	transform: rotate(-45deg);
	transition: 0.4s;
}
.advertise__btn:hover::before,
.advertise__btn:hover::after {
	background: #d9541e;
}
@keyframes openAdvertise {
	0% {
		right: -300px;
	}
	15% {
		right: 47px;
	}
	85% {
		right: 47px;
	}
	100% {
		right: -300px;
	}
}

@media (max-width: 1150px) {
	.hamburger {
		display: none;
	}
	.table_main {
		width: 320px;
	}
}
@media (max-width: 1065px) {
	.hamburger {
		display: none;
	}
	.table_main {
		width: 300px;
		margin: 10px 0;
		padding: 2px 4px;
		font-size: 12px;
	}
	.table-small_dt {
		font-size: 11px;
	}
}
@media (max-width: 997px) {
	.hamburger,
	.advertise {
		display: none;
	}
	.content {
		width: 80%;
		padding: 10px;
	}
	.tutorial {
		width: 19%;
		padding: 10px 8px;
	}
	.tutorial__title {
		font-size: 16px;
	}
	.tutorial__link,
	.check-code_blue {
		font-size: 12px;
	}
	.query__code {
		font-size: 14px;
	}
	.sql-code {
		word-spacing: 2px;
	}
	.sql-code-comment {
		width: 300px;
	}
	.sql-code-comment_normal {
		width: 100%;
	}
	.table-small_dt {
		width: 250px;
	}
}
@media (max-width: 950px) {
	.hamburger {
		display: none;
	}
	.query__code {
		width: 100%;
	}
	.table_main {
		width: 300px;
		font-size: 12px;
	}
	.table-tasks__name {
		margin-top: 0;
	}
	.content {
		width: 70%;
		padding: 10px 20px;
	}
	.tutorial {
		width: 26%;
		padding: 10px 12px;
	}
}
@media (max-width: 700px) {
	.tutorial,
	.hamburger {
		display: none;
	}
	.btnup-smdev {
		display: block;
		top: 86%;
		margin: 0;
		margin-left: auto;
	}
	.content {
		width: 100%;
	}
	.header {
		padding-bottom: 0;
	}
	.header-logo {
		margin: 0 auto 10px;
	}
	.sidebar__list {
		justify-content: center;
		margin: 10px auto;
	}
	.main-title {
		margin: -40px 0 0;
		font-size: 20px;
	}
	.main-subtitle,
	.task-answer {
		margin: 10px 0;
		font-size: 16px;
	}
	.query {
		margin: 10px 0;
	}
	.table_inner {
		margin: 10px 0;
	}
	.footer {
		padding: 5px;
	}
}
@media (max-width: 480px) {
	.header-logo {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 61px;
		z-index: 10;
		background-color: rgba(255, 255, 255, 0.9);
		margin-bottom: 0;
		padding: 10px;
	}
	.hamburger {
		position: absolute;
		display: block;
		top: 25%;
		right: 5%;
		width: 38px;
		height: 38px;
		border: none;
		border-radius: 50%;
		background-color: rgba(19, 104, 130, 0.7);
		z-index: 12;
	}
	.hamburger-open_border {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 65%;
		height: 3px;
		border-radius: 12px;
		background-color: rgba(255, 255, 255, 0.9);
		transform: translate(-50%,-50%);
	}
	.hamburger-open_border::before {
		position: absolute;
		content: "";
		top: -8px;
		left: 0;
		width: 100%;
		height: 3px;
		border-radius: 12px;
		background-color: rgba(255, 255, 255, 0.9);
	}
	.hamburger-open_border::after {
		position: absolute;
		content: "";
		top: 8px;
		left: 0;
		width: 100%;
		height: 3px;
		border-radius: 12px;
		background-color: rgba(255, 255, 255, 0.9);
	}
	.hamburger-close {
		position: absolute;
		display: none;
		z-index: -5;
	}
	.hamburger-close_border {
		position: absolute;
		top: 9px;
		left: 6px;
		width: 100%;
		height: 3px;
		background-color: transparent;
	}
	.hamburger-close_border::before {
		position: absolute;
		content: "";
		top: 8px;
		left: 0;
		width: 25px;
		height: 3px;
		border-radius: 12px;
		background-color: rgba(255, 255, 255, 0.9);
		transform: rotate(45deg);
	}
	.hamburger-close_border::after {
		position: absolute;
		content: "";
		top: 8px;
		left: 0;
		width: 25px;
		height: 3px;
		border-radius: 12px;
		background-color: rgba(255, 255, 255, 0.9);
		transform: rotate(-45deg);
	}
	.header-logo__img {
		width: 80px;
		height: 41px;
	}
	.header-logo__title {
		font-size: 22px;
	}
	.header-text {
		display: none;
	}
	.sidebar__list {
		position: fixed;
		top: 55px;
		left: 100%;
		width: 120%;
		height: 100%;
		display: block;
		margin-top: 0;
		padding: 15px 0 0 20px;
		color: #136882;
		line-height: 52px;
		text-transform: uppercase;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 10;
	}
	.sidebar__item:hover::after,
	.sidebar__item_selected::after {
		display: none;
	}
	.sidebar-appear {
		animation: openBurger 0.8s forwards;
	}
	.sidebar-disappear {
		animation: closeBurger 0.8s forwards;
	}
	@keyframes openBurger {
		0% {
			left: 100%;
		}
		100% {
			left: 0;
		}
	}
	@keyframes closeBurger {
		0% {
			left: 0;
		}
		100% {
			left: 100%;
		}
	}
	.main-title {
		margin: 0;
	}
	.main-wrap {
		margin-top: 25px;
		padding: 0;
	}
	.content {
		padding: 0 5px;
		border: none;
		background-color: transparent;
	}
	.sql-code-item {
		width: 95%;
	}
	.check-code_gen {
		font-size: 14px;
	}
	table {
		width: 100% !important;
	}
	.table-inner {
		justify-content: center;
	}
	.column_bold {
		border-width: 1.5px;
	}
	.footer {
		font-size: 10px;
		line-height: 12px;
	}
}
@media (max-width: 350px) {
	.container {
		padding: 0 5px;
	}
	.main-title {
		font-size: 17px;
	}
	.table_main {
		font-size: 11px;
	}
	.query__code {
   		font-size: 13px;
	}
	.sql-code-comment {
		font-size: 12px;
	}
}
@media (max-width: 350px) {
	.table-small_dt,
	.table_inner .table_main {
		font-size: 10px;
	}
}