*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
html,
body {
	color: #3f3f3f;
	font: 400 16px/26px Raleway, Arial, Helvetica, sans-serif;
	background-color: #ffcfc0;
	scrollbar-color: #acacac transparent;
    scrollbar-width: thin;
}
img {
	max-width: 100%;
}
ul li,
ol li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}
.button {
	display: block;
	margin-right: 30px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	text-align: center;
	background: #ff9978;
	transition: all 0.5s; 
}
.button:hover {
	box-shadow: 0 0 10px 2px rgba(253,113,57,0.3);
}
.container {
	position: relative;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}
*::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(253,100,57,0.5);
}
.header {
	padding: 10px 0 15px;
}
.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 300px;
	margin-bottom: 15px;
}
.header-logo__title {
	align-self: flex-end;
	margin-left: 10px;
	color: #d9541e;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
}
.header-logo__img {
	width: 50px;
	transform: rotate(10deg);
}
.header-logo__img[src="img/html-logo.svg"] {
	transform: rotate(-10deg);
}
.header__link {
	display: block;
	width: 120px;
}
.header-text {
	text-align: center;
}
.code-item_orange {
	color: #d9541e;
	font-weight: 700;
}
.main-wrap {
	position: relative;
	margin-bottom: 15px;
	padding: 20px;
	border: 2px solid #2b2b2b;
	border-radius: 4px;
	background-color: rgba(234,233,233, 0.4);
}
#content-title {
	margin: 10px 0 20px;
	font-size: 20px;
	font-weight: 600;
}
.previous-result {
	position: absolute;
	top: 15px;
	right: 30px;
	display: none;
}
.question-list {
	margin: 0 0 40px 20px;
}
.question-item {
	margin-bottom: 25px;
}
.question__text {
	margin-bottom: 8px;
	font-family: Arial, sans-serif;
}
.answer {
	position: relative;
	display: block;
	margin-bottom: 7px;
	padding: 2px 5px 2px 0;
	transition: 0.4s;
	cursor: pointer;
}
.answer {
	padding-left: 7px;
}
.answer__input {
	visibility: hidden;
}	
.answer__input:checked + .answer__text {
	color: #ef4c09;
}
.answer__text {
	display: inline-block;
	margin-left: 5px;
	font-family: Arial, sans-serif;
}
.answer__btn {
	position: absolute;
	top: 7px;
	left: 2px;
	width: 16px;
	height: 16px;
	background: url(img/radio-off.svg) no-repeat;
}
.answer__input:checked + .answer__text > .answer__btn::after   {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ef4c09 no-repeat;
	transform: translate(-50%, -50%);
}
.answer__circle {
	position: absolute;
	top: 7px;
	left: 2px;
	width: 16px;
	height: 16px;
}
.answer-correct {
	color: #36b536 !important;
	font-weight: 600;
}
.answer-incorrect {
	color: #ff4a4a !important;
	font-weight: 600;
}
.result-box {
	display: none;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.result__text {
	width: 100%;
	margin: 0 0 30px 20px;
	font-size: 18px;
	font-weight: 600;
}
.result__number {
	margin-left: 5px;
	font-size: 18px;
	font-weight: 700;
}
.finish-btn,
.result__btn_left,
.result__btn_right {
	width: 150px;
	margin: 0 0 0 20px;
	padding: 5px;
	cursor: pointer;
}
.result__btn_right {
	margin-left: 10px;
}
.footer {
	padding: 10px;
	color: #fff;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	background-color: #2b2b2b;
}
.footer__text_email {
	color: #a2b7d3;
	letter-spacing: 0.4px;
	font-style: italic;
}
/*Question area*/
.question-start__title {
	margin: 20px 0 40px;
	text-align: center;
}
.category-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 70%;
	margin: 0 auto;
}
.category-box {
	position: relative;
	width: 45%;
	min-height: 250px;
	border: 1px solid #d9541e;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
	transition: 0.4s;
}
.category-box:hover {
	box-shadow:  0 0 10px 2px rgba(253,113,57,0.3);
}
.category-box__bg {
	position: absolute;
	top: 30px;
	left: 50%;
	width: 140px;
	height: 130px;
	background: #fdb184 url(../img/book.svg) center center no-repeat;
	background-size: 80% 80%;
	border-radius: 50%;
	transform: translateX(-50%);
}
.category-box_right .category-box__bg {
	background-image: url(../img/clock.svg);
} 
.category-box__name {
	position: absolute;
	bottom: 30px;
	width: 100%;
	font-size: 22px;
}
.question-start__btn {
	width: 250px;
	margin: 40px auto 20px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
.category-list {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 40px;
	text-align: center;
	background-color: rgba(255,255,255,0.9);
}
.category-item {
	width: 300px;
	margin: 0 auto 40px;
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.4s;
}
.category-item:hover {
	color: #d9541e;
}
.question-main .main-wrap {
	min-height: 73vh;
}
.question-time {
	position: absolute;
	top: 20px;
	right: 7%;
	width: 40px;
	height: 40px;
	border: 1px solid #5f5f5f;
	border-radius: 50%;
	transform: rotate(45deg);
}
.question-time_counter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
	color: #d9541e;
	font: 700 18px Arial, sans-serif;
	line-height: 2;
	text-align: center;
	transform: rotate(-45deg);
}
.progress-counter {
	position: absolute;
	top: 20px;
	left: 7%;
}
.question-text {
	width: 50%;
	margin: 20px auto;
	font-size: 18px;
	text-align: center;
}
.question-line {
	width: 50%;
	margin: 15px auto;
	border: 0.5px solid #fb936a;
}
.question-main .question-list {
	width: 50%;
	margin: 20px auto;
}
.question-main .question-item {
	font-size: 18px;
	cursor: pointer;
	transition: 0.4s;
}
.question-main .question-item:hover {
	color: #d9541e;
}
.question-item_answer {
	display: block;
	padding-left: 60px;
	background: url(img/radio-off.svg) 3% 50% no-repeat;
	background-size: 20px 20px;
}
.question-btn {
	width: 220px;
	margin: 30px auto 10px;
	padding: 15px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}
.overlay,
.overlay-back,
.progress-overlay,
.devtools-wizard-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}
.modal {
	overflow: hidden;
	width: 340px;
	margin: 8% auto 0;
	padding: 30px;
	border: 1.5px solid #fb6363;
	border-radius: 5px;
	background-color: rgb(247, 218, 209);
	z-index: 20;
}
.modal__text {
	margin: 0 auto 5px;
	font-size: 16px;
	text-align: center;
}
.modal__text_bottom {
	margin-bottom: 20px;
}
.modal__number {
	margin-left: 5px;
	font-size: 16px;
}
.modal__btn {
	width: 120px;
	margin: 0 auto;
	padding: 7px;
	text-transform: uppercase;
	cursor: pointer;
}
.modal-question__btn {
	width: 150px;
	padding: 12px;
	font-size: 16px;
	text-transform: none;
}
.btn-back-wrap {
	display: flex;
	justify-content: space-between;
}
.btn-back {
	display: inline-block;
	width: 120px;
	margin: 25px 0 0 0;
	padding: 5px;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
}
.modal__text_animation {
	position: relative;
}
.modal__text_animation::before {
	position: absolute;
	content: "";
	top: 140px;
	left: 0%;
	width: 35px;
	height: 35px;
	background: url(img/balloon.svg) no-repeat;
	animation: moveUp linear 2s;
	animation-fill-mode: forwards;
}
.modal__text_animation::after {
	position: absolute;
	content: "";
	top: 140px;
	right: 0%;
	width: 35px;
	height: 35px;
	background: url(img/balloon.svg) no-repeat;
	animation: moveUp linear 2s;
	animation-fill-mode: forwards;
}
.block-transition {
	display: block;
	animation: fadeIn linear 0.4s forwards;
}
.none-transition {
	display: none;
	animation: fadeOut linear 0.4s forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		z-index: -1;
	}
}

@keyframes moveUp {
	0% {
		top: 140px;
	}
	100% {
		top: 15px;
	}
}
.progress-main {
	position: absolute;
	z-index: 5; 
	top: 5px;
	right: 50%;
	width: 150px;
	padding: 5px;
	transform: translateX(50%);
	cursor: pointer;
}
.progress-main_text {
	text-align: center;
	transition: 0.4s;
}
.progress-main:hover > .progress-main_text {
	color: #fd906d;
}
.progress-main__bar {
	width: 90%;
	height: 8px;
	display: block;
	margin: 2px auto;
	border: 1px solid #ff916e;
	border-radius: 4px;
	background-color: transparent;
}
.progress-main__bar::-webkit-progress-bar {
	background-color: transparent;
}
.progress-main__bar::-webkit-progress-value {
	background-color: #ffa689;
}
.progress-main__bar::-moz-progress-bar {
	background-color: #ffa689;
}
.progress-table-wrap {
	position: fixed;
	top: 1%;
	right: 50%;
	width: 80%;
	min-height: 500px;
	padding: 30px;
	z-index: 50;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.9);
	transform: translateX(50%);
}
.progress-table {
	width: 550px;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
}
.progress-table th,
.progress-table td {
	width: 50%;
	border: 1px solid #ffa689;
	font-size: 17px;
	line-height: 3;
}
.progress-table th {
	color: #fff;
	font-size: 18px;
	background-color: #ff9978;
}
.progress-table td:nth-child(2n+1) {
    line-height: 20px;
}
.progress-table__btn {
	width: 150px;
	margin: 40px auto 20px;
	font-size: 17px;
	cursor: pointer;
}
/*DevTools test*/

.question-devtools .question-start__title {
	padding-top: 20px;
	font-size: 20px;
}
.question-devtools .question-btn {
	margin-top: 0;
}
.question-devtools .main-wrap {
	margin-bottom: 20px; 
	padding: 25px 0;
}
.question-devtools-btn-wrap {
	display: flex;
	width: 50%;
	margin: 50px auto 20px;
}
.question-devtools-btn-wrap > button {
	width: 45%;
	min-height: 50px;
}
.devtools-box {
	display: flex;
	justify-content: center;
	width: 50%;
	margin: 20px auto;
}
.show-mark {
	position: absolute;
	top: 20px;
	right: 7%;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 80% 80%;
}
.devtools-box > * {
	cursor: default;
}
.devtools-box > div {
	width: 180px;
	height: 150px;
	cursor: default;
}
.devtools-box > img {
	width: 110px;
	height: auto;
}
.devtools-box > p {
	height: auto;
	text-align: justify;
}
.devtools-wizard-overlay .progress-table__title {
	margin: 0;
	padding: 0;
}
.devtools-wizard__img {
	display: block;
	width: 80%;
	margin: 0 auto;
	border-radius: 4px;
}
.devtools-wizard__btn {
	width: 200px;
	margin: 30px auto;
	font: 700 15px/25px Raleway, Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.devtools-wizard__text {
	width: 80%;
	margin: 12px auto;
}
.devtools-wizard-overlay .progress-table-wrap {
	z-index: 12;
	max-height: 92vh;
	overflow-y: auto;
	scrollbar-color: #acacac transparent;
	scrollbar-width: thin;
}
@media (max-width: 767px) {
	.previous-result,
	.header__link {
		display: none !important;
	}
	.category-wrap {
		width: 100%;
	}
	.progress-main {
		top: 7px;
		right: 7px;
		transform: translateX(0);
	}
	.progress-overlay {
		z-index: 100;
	}
	.progress-table-wrap {
		top: 0;
		width: 100%;
		min-height: 100vh;
		padding: 40px 0 0;
	}
	.progress-table {
		width: 90%;
	}
	.button:hover {
		box-shadow: none;
	}
	.question-devtools-btn-wrap {
		width: 100%;
	}
}
@media (max-width: 480px) {
	.result__btn_left {
		display: none;
	}
	.header-logo {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 61px;
		z-index: 10;
		background-color: rgba(255, 255, 255, 0.9);
		margin-bottom: 0;
		padding: 10px;
	}
	.header-logo__img[src="img/html-logo.svg"],
	.header-logo__img[src="img/css-logo.svg"] {
		width: 40px;
	}
	.header-logo__title {
		font-size: 22px;
	}
	.header__link {
		position: fixed;
		top: 15px;
		right: -18px;
		z-index: 10;
		width: 100px;
		padding: 5px;
	}
	.header-text {
		margin-top: 65px;
		font-size: 13px;
	}
	.main-wrap {
		padding: 10px;
	}
	#content-title {
		margin: 0 0 15px;
		text-align: center;
	}
	.answer__text {
		font-size: 15px;
	}
	.footer {
		font-size: 10px;
		line-height: 12px;
	}
	.overlay {
		z-index: 20;
	}
	.modal {
		margin-top: 20%;
	}
	.btn-back {
		width: 110px;
	}
	.btn-back-wrap {
		width: 85%;
		margin: 0 auto;
	}
	.question-start__title {
		margin: 15px 0 25px;
		font-size: 20px;
	}
	.category-box {
		width: 85%;
		min-height: 200px;
		margin-bottom: 20px;
	}
	.category-box__bg {
		top: 15px;
	}
	.category-box__name {
		bottom: 15px;
		font-size: 22px;
	}
	.question-start__btn {
		margin: 10px auto 20px;
		font-size: 20px;
	}
	.category-item {
		font-size: 22px;
	}
	.question-text {
		width: 90%;
		margin: 30px auto 5px;
		font-size: 18px;
	}
	.question-time {
		top: 3px;
		right: 3%;
		width: 30px;
		height: 30px;
	}
	.question-time_counter {
		font-size: 16px;
		line-height: 1.8;
	}
	.progress-counter {
		top: 3px;
		left: 3%;
		font-size: 14px;
	}
	.question-line {
		width: 90%;
	}
	.question-item_answer {
		width: 80%;
		margin: 0 auto;
		padding-left: 40px;
		font-size: 18px;
		background-position:  3% 65%;
	}
	.question-btn {
		margin: 25px auto 10px;
		font-size: 17px;
	}
	.progress-main {
		position: fixed;
		z-index: 12;
		width: 130px;
		font-size: 14px;
	}
	.progress-table th {
		line-height: 24px;
	}
}
@media (max-width: 400px) {
	.container {
		padding: 0 5px;
	}
	.main-wrap {
		padding: 5px;
	}
	.header-text {
		margin: 65px auto 0;
		text-align: center;
	}
	#content-title {
		font-size: 18px;
	}
	.question-list {
		margin: 0 0 20px 0;
	}
	.question-item {
		margin-bottom: 15px;
	}
	.question-main .question-list {
		width: 90%;
	}
	.question__text {
		margin-bottom: 5px;
		font-size: 15px;
	}
	.answer__text {
		font-size: 14px;
	}
	.finish-btn,
	.result__btn_right {
		width: 180px;
		margin: 0 auto 10px;
	}
	.footer {
		padding: 5px;
	}
	.modal {
		width: 300px;
		font-size: 15px;
	}
	.modal-back {
		padding: 20px 10px;
	}
	.modal__text_animation::before {
		left: -5%;
	}
	.modal__text_animation::after {
		right: -5%;
	}
	.btn-back {
		width: 100px;
		margin-top: 5px;
		padding: 5px;
		font-size: 14px;
	}
	.progress-main {
		right: 2px;
		width: 120px;
	}
	.progress-table th {
		font-size: 17px;
		line-height: 20px;
	}
}
